body {
    font-family: Arial, "Droid Serif";

    /* Alternate Styling */
    /*color: #dfdfdf;*/
    /*background-color: #1c1c1c;*/
    /*font-size: 15px;*/
    font-size: 20px;
}

#nav > p {
    /* Alternate Styling */
    /*color: white;*/
}

input {
    /*font-size: 15px;*/

    /* Alternate Styling */
    /*color: white;*/
    /*background-color: #404040;*/
    font-size: 20px;
}

button {
    /*font-size: 15px;*/

    /* Alternate Styling */
    /*color: white;*/
    /*background-color: #404040;*/
    font-size: 20px;
}

#new-entry-form {
    margin: 10px 0 10px 0;
}

#nav {
    padding-left: 10px;
    border-radius: 7px;
    background-color: #babaff;

    /* Alternate Styling */
    /*background-color: #0cbd0d;*/
}

#nav > a {
    text-decoration: none;
    color: black;
    /*padding: 15px 10px 15px 10px;*/

    /* Alternate Styling */
    font-weight: bold;
    /*color: white;*/
    padding: 20px 10px 21px 10px;
}

#nav > a:hover {
    /* Hover state */
    background-color: #a7a7e8;

    /* Alternate Styling */
    /*background-color: #0a7c0a;*/

}

#nav > a:active {
    /* Active state */
    background-color: #7b7bae;

    /* Alternate Styling */
    /*background-color: #004700;*/
    /*color: white;*/
}

table {
    width: 100%;
}

table, th, td {
    padding: 5px 50px 5px 50px;
    border: 2px solid black;

    /* Alternate Styling */
    /*border: 2px solid #a8a8a8;*/
    border-collapse: collapse;

    text-align: center;
}